/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
/* first lets set everything to max height*/
body, html {
	height: 100%;
	background-color: #FFF;/*#f7f7f8;*/
}

a, a:visited {
    text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-bottom: 10px;
	font-size: 12px;
}

h1 {
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: bold;
}

header {
	position: fixed;
	width: 100%;
	height: 90px;
	background: #FFF;/*#f7f7f8;*/
	z-index: 50;
	top: 0;
}

#header-wrapper {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.navbar-inverse .navbar-inner {
	background: #FFF;/*#f7f7f8;*/
	border: 0;
	height: 82px;
	z-index: 2;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{	    
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
    box-shadow:none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffff', GradientType=0);
}
.nav {
	padding-top: 21px;
	position: fixed;
	top:0;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
	color: #999;
}
.navbar-inverse .nav > li > a {
	color: #666;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background: transparent;
	color: #999;
}
/* Logo */
.logo {
	padding-top: 10px;
	width: 114px;
	height: 82px;
	float: left;
	/*background-image: url(../img/logo.png);*/
}
.logo img {
	height: 100%;
}
.logo-left div.logo {
	float: left;
	padding-left: 10px;
}
.logo-center div.logo {
	float: none;
	padding: 0;
	padding-top: 10px;
	margin: 0 auto;
}
.logo-right div.logo {
	float: right;
	padding-right: 10px
}
.nav-collapse.collapse .pull-left{
	margin-left: 10px;
}
.nav-collapse.collapse .pull-right{
	margin-right: 10px;
}
.logo_menu {
	display: none;
}
.container-fluid {
	height: 100%;
/*	width: 100%; was giving problems in FF*/
}
.logo-index img {
	max-height: 40%;
}
.gallery {
	text-align: center;
	padding-top: 82px;
	/*padding-bottom: 50px;*/
	position: relative;
	height: 100%;
}
.swiper-container/*, .swiper-wrapper*/ {
	 height: 100%; 
}
hr.buffer {
	height: 10%;
}

/* Responsive Video 
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/

.video-container {
	position: relative;
	padding-bottom: 26.25%;
	padding-top: 20px;
	height: 80%;
        width: 80%;
        margin: 0 auto;
}
.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gallery_wrapper {
	height: 90%;
	padding: 20px 0;
	position: relative;
}
.gallery_wrapper.small {
	height: 70%;
}
/* Responsive Image */
.gallery_wrapper img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	left:0;
	right:0;
}
/*
.gallery_wrapper .arrow-left,
.gallery_wrapper .arrow-right {
	background: lightgrey url(../img/arrows.png);
	height: 80%;
	width: 20px;
	border:1px solid black;
	position:absolute;
}
*/
/* Vertical center these objects */
.arrow-left, .arrow-right {
    bottom: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    padding:20px;
    z-index: 2;
}
a:hover.arrow-left , a:hover.arrow-right {
    text-decoration: none;
}
.arrow-left {
	/*background: transparent  url(../img/arrows.png) no-repeat left top;*/
	left: 0;
}
.arrow-right {
	/*background: transparent url(../img/arrows.png) no-repeat right top;*/
	right: 0;
}
/* Swiper Styles 1.9.3 */
.swiper-container {
	width:100%;
	height:100%;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
	width: 100%;
	height: 100%;
}

.text {
	height:200px;
}
.text .swiper-wrapper {
	width: 100%;
	padding-right: 10px;
}
.text .swiper-slide {
	padding-right: 2px;
	margin-right: 2px;
}
.swiper-scrollbar {
	background: none;
	position: absolute;
	right: 3px;
	top: 0;
	height: 100%;
	width: 5px;
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: #9F9F9F;
	border-radius: 10px;
}
.swiper-scrollbar-cursor-drag {
	cursor: move;
}

.center-this {
	height: 100%;
	width:  100%;
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	/*display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;*/

	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
.project_info {
	width: 100%;
	text-align: center;
	height: auto;/*10%*/
	overflow-y:hidden; 
	clear:both;
	margin:0 auto;
	max-height: 70%;
}
.info_content {
	max-height: 500px;
	padding: 2px;
}
.info_content p {
	line-height: 16px;
}

.caption {
	padding-top:2px;
}
.info {
	width:100%;	
	position: absolute;
	bottom: 0;
	z-index: 1;
	background-color: #FFF;
	padding: 5px 10px 0 10px;
	min-height: 200px;
	max-height: 300px;
	text-align: justify;
}
.info_logo {
	padding: 2px 15px;
	text-align: center;
	cursor: pointer;
}

/* text page */
.text {
	margin: 0 auto;
	text-align: justify;
	max-width: 800px;
	width: 80%;
	padding-top: 5px;
}

.text-center {
	padding-bottom: 20px;
}

.navbar .btn-navbar {
	margin-top: 26px;
}

/* forms */
form * {
    box-sizing: initial;

}
form {
	width: 100%;
	max-width:480px;
	margin: 0 auto;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 979px) {
	.navbar .btn-navbar {
		margin-right: 40px;
	}
	.navbar-fixed-top {
		position: fixed;
	}
	.nav-collapse.collapse {
		margin-right:0;
		background-color: #FFF;
	}
	.nav-collapse.collapse > li,
	.nav-collapse .nav > li > a,
	.nav-collapse .nav > li > a:hover,
	.nav-collapse.collapse ul li ul > li,
	.dropdown-menu > li > a,
	.dropdown-menu > li > a:hover {
		line-height: 10px
	}
	.nav-collapse .nav > li > a,
  	.nav-collapse .dropdown-menu a {
    	padding: 5px 35px;
    }
	div.logo {
		display: none;
	}
	.logo_menu {
		display: block;
	    margin: 0 auto;
	    float: none;
	}
}
@media (max-width: 767px) {
	.arrow-left, .arrow-right {
        width: 40px;
        height: 40px;
        padding:10px;
    }

	.navbar-inverse .navbar-inner,
	.logo {
		height:40px;	
	} 
	.logo {
		width:56px;
		padding: 5px auto;
		padding-bottom: 0;
		/*background-image: url(../img/logo_mobile.png);*/
	}
	.nav {
		padding-top:0;
	}
	.navbar .btn-navbar {
		margin-top: 5px;
	}
	.gallery {
		padding-top: 40px;
	}
	.gallery_wrapper {
		padding: 10px 0;
	}
	textarea.input-xlarge {
		width: 180px;
	}
	.info_content {
		max-height: 360px;
	}
}
@media (max-height: 480px) {
	.project_info {
		height: auto;
	}
	.gallery_wrapper {
		height: 80%;
	}
	.form-horizontal .controls {
		float: left;
	}
	.info_content {
		max-height: 360px;
	}

}

/* FF only */
@-moz-document url-prefix() {
   .ff.center-this {
		position: absolute;
	    top: 50%;
	    bottom: -50%;
	    text-align: center;
	}
}